<clr-wizard
  #notaPreferences
  [(clrWizardOpen)]="wBusy"
  clrWizardSize="lg"
  clrWizardClosable="false"
  (clrWizardOnCancel)="wClose()"
  (clrWizardOnFinish)="dataToHome()"
>
  <clr-wizard-title>New notanote</clr-wizard-title>

  <clr-wizard-button [type]="'cancel'">Cancel</clr-wizard-button>
  <clr-wizard-button [type]="'previous'">Back</clr-wizard-button>
  <clr-wizard-button [type]="'next'">Next</clr-wizard-button>
  <clr-wizard-button [type]="'finish'">Add</clr-wizard-button>

  <clr-wizard-page>
    <ng-template clrPageTitle>Template</ng-template>

    <clr-stack-view>
      <clr-stack-header>
        My repositories
        <button class="stack-action btn btn-sm btn-link" type="button">
          <clr-icon shape="file" size="18"></clr-icon>
        </button>
        <button
          class="stack-action btn btn-sm btn-link"
          (click)="wEditPrivateReposVisible = true"
          type="button"
        >
          Edit
        </button>
      </clr-stack-header>

      <clr-stack-block
        #lazyBlock
        [clrSbExpandable]="true"
        (clrSbExpandedChange)="fetchUserRepo()"
        [clrStackViewLevel]="1"
        [clrStackViewSetsize]="2"
        [clrStackViewPosinset]="1"
      >
        <clr-stack-label>Example templates</clr-stack-label>
        <clr-stack-content>@yetbykov/example-templates</clr-stack-content>

        <clr-stack-block
          *ngIf="wNewNoteWizUserRepos.length == 0"
          [clrStackViewLevel]="2"
          [clrStackViewSetsize]="0"
          [clrStackViewPosinset]="1"
        >
          <clr-spinner clrAssertive clrInline> Updating... </clr-spinner>
        </clr-stack-block>

        <clr-stack-block
          *ngFor="let child of wNewNoteWizUserRepos; let i = index"
          [clrStackViewLevel]="2"
          [clrStackViewSetsize]="wNewNoteWizUserRepos.length"
          [clrStackViewPosinset]="i + 1"
        >
          <clr-stack-label>{{ child.title }}</clr-stack-label>
          <clr-stack-content>{{ child.content }}</clr-stack-content>
        </clr-stack-block>
      </clr-stack-block>

      <clr-stack-block
        [clrStackViewLevel]="1"
        [clrStackViewSetsize]="2"
        [clrStackViewPosinset]="2"
      >
        <clr-stack-label>Label 2</clr-stack-label>
        <clr-stack-content>Content 2</clr-stack-content>
      </clr-stack-block>
    </clr-stack-view>
    <clr-modal [(clrModalOpen)]="wEditPrivateReposVisible">
      <h3 class="modal-title">My repositories</h3>
      <div class="modal-body">
        <clr-stack-view>
          <clr-stack-block
            *ngFor="let block of wPrivateRepos; let blockIndex = index"
            [clrSbNotifyChange]="block.content !== 'Content ' + blockIndex"
            [clrStackViewLevel]="1"
            [clrStackViewSetsize]="wPrivateRepos.length"
            [clrStackViewPosinset]="blockIndex + 1"
          >
            <clr-stack-label>{{ block.title }}</clr-stack-label>
            <clr-stack-content>
              <input
                type="text"
                [(ngModel)]="block.content"
                class="clr-input"
              />
            </clr-stack-content>

            <clr-stack-block
              *ngFor="
                let child of block.extensions;
                let blockChildIndex = index
              "
              [clrSbNotifyChange]="
                child.description !== 'Sub-content ' + blockChildIndex
              "
              [clrStackViewLevel]="2"
              [clrStackViewSetsize]="block.extensions.length"
              [clrStackViewPosinset]="blockChildIndex + 1"
            >
              <clr-stack-label>{{ child.title }}</clr-stack-label>
              <clr-stack-content>
                <input
                  type="text"
                  [(ngModel)]="child.description"
                  class="clr-input"
                />
              </clr-stack-content>
            </clr-stack-block>
          </clr-stack-block>
        </clr-stack-view>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-primary"
          (click)="wEditPrivateReposVisible = false"
        >
          Done
        </button>
      </div>
    </clr-modal>
  </clr-wizard-page>

  <clr-wizard-page>
    <ng-template clrPageTitle>Information</ng-template>
    <input
      type="text"
      id="not-title"
      placeholder="Title"
      class="clr-input"
      style="width: 100% !important"
      [(ngModel)]="iNewNoteTitle"
    />
  </clr-wizard-page>

  <clr-wizard-page>
    <ng-template clrPageTitle disabled>Advanced</ng-template>
    <h5>Events</h5>
  </clr-wizard-page>
</clr-wizard>
