@import "../node_modules/@clr/ui/src/utils/_theme.dark.clarity.scss";
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,500;0,600;0,700;1,500;1,600;1,700&display=swap");

$clr-header-bgColor: #0d0e15fa;
$clr-global-app-background: #0d0e15aa;
$clr-table-bgcolor: none;
$clr-thead-bgcolor: none;
$clr-vertical-nav-bg-color: none;
$clr-table-header-border-bottom-color: none;
$clr-card-bg-color: #0d0e1515;
$clr-wizard-sidenav-bgcolor: #0d0e1515;
$clr-wizard-stepnav-active-bgcolor: #0d0e15;
$clr-modal-bg-color: #0d0e15;

$clr-card-border-color: #ffffff03;
$clr-card-title-color: hsl(210, 16%, 93%);
$clr-card-box-shadow: 0 10 10 0 $clr-card-border-color;
$clr-card-divider-color: $clr-card-border-color;
$clr-global-borderwidth: 0;

$clr-grid-gutter-width: 12px;
$card-children-padding-vertical: 4px;
$card-children-padding-horizontal: 4px;

$clr-vertical-nav-width: 240px !important;

/*****************
  * Buttons
  * Buttons allow an application to communicate action and direct user intent.
  * Buttons can be: solid, outlined or flat.
  * Solid and outline have four types: primary, success, warning, danger.
  * Buttons can be disabled.
  *
  * For each button type, use these variables to change the following button properties:
  * - background color
  * - border
  * - (font) color
  * - :hover background-color
  * - :hover (font) color
  * - box-shadow color
  *
  *  NOTE: these variables also affect button groups.
  *
  */

// Use these to control the disabled appearance for all buttons.
$clr-btn-disabled-font-color: hsl(0, 0%, 0%);
$clr-btn-outline-disabled-font-color: hsl(0, 0%, 100%);
$clr-btn-disabled-bg-color: hsl(0, 0%, 100%);
$clr-btn-disabled-border-color: hsl(0, 0%, 100%);

// Disabled icon color
$clr-btn-icon-disabled-color: $clr-btn-outline-disabled-font-color;

// Default button
$clr-btn-default-color: #00ae6b; // border-color, color, checked-background-color
$clr-btn-default-bg-color: transparent; // background-color, disabled-background-color
$clr-btn-default-hover-bg-color: hsla(
  0,
  0%,
  100%,
  0.1
); // hover-background-color
$clr-btn-default-hover-color: #00ae6b; // hover-color
$clr-btn-default-box-shadow-color: hsl(0, 0%, 0%); // active-box-shadow-color
$clr-btn-default-checked-color: hsl(0, 0%, 100%); // checked-color
$clr-btn-default-checked-bg-color: $clr-btn-default-color;
$clr-btn-default-disabled-color: $clr-btn-outline-disabled-font-color; // disabled-color
$clr-btn-default-disabled-border-color: $clr-btn-disabled-border-color; // disabled-border-color

// Default button
$clr-btn-default-outline-color: #00ae6b; // border-color, color, checked-background-color
$clr-btn-default-outline-bg-color: transparent; // background-color, disabled-background-color
$clr-btn-default-outline-hover-bg-color: hsla(
  0,
  0%,
  100%,
  0.1
); // hover-background-color
$clr-btn-default-outline-hover-color: #00ae6b; // hover-color
$clr-btn-default-outline-box-shadow-color: hsl(
  0,
  0%,
  0%
); // active-box-shadow-color
$clr-btn-default-outline-checked-color: hsl(0, 0%, 100%); // checked-color
$clr-btn-default-outline-checked-bg-color: $clr-btn-default-outline-color; // checked-color
$clr-btn-default-outline-disabled-color: $clr-btn-outline-disabled-font-color; // disabled-color
$clr-btn-default-outline-disabled-border-color: $clr-btn-disabled-border-color; // disabled-border-color
$clr-btn-default-outline-disabled-checked-color: $clr-btn-disabled-bg-color;

// Primary button
$clr-btn-primary-color: hsl(0, 0%, 0%); // color, checked-background-color
$clr-btn-primary-bg-color: #00ae6b; // background-color, disabled-background-color
$clr-btn-primary-border-color: #00ae6b; // border-color
$clr-btn-primary-hover-bg-color: #00ae6b; // hover-background-color
$clr-btn-primary-hover-color: hsl(0, 0%, 0%); // hover-color
$clr-btn-primary-box-shadow-color: hsl(
  205,
  100%,
  34%
); // active-box-shadow-color
$clr-btn-primary-checked-color: hsl(0, 0%, 100%); // checked-color
$clr-btn-primary-disabled-color: $clr-btn-disabled-font-color; // disabled-color
$clr-btn-primary-disabled-bg-color: $clr-btn-disabled-bg-color; // disabled-bg-color
$clr-btn-primary-disabled-border-color: $clr-btn-disabled-border-color; // disabled-border-color

// Success button
$clr-btn-success-color: hsl(0, 0%, 0%); // color, checked-color,
$clr-btn-success-bg-color: hsl(92, 79%, 40%); // background-color, border-color
$clr-btn-success-hover-bg-color: hsl(83, 77%, 44%); // hover-background-color
$clr-btn-success-hover-color: $clr-btn-success-color; // hover-color
$clr-btn-success-box-shadow-color: hsl(
  98,
  100%,
  21%
); // active-box-shadow-color
$clr-btn-success-checked-bg-color: $clr-btn-success-hover-bg-color; // checked-background-color
$clr-btn-success-disabled-color: $clr-btn-disabled-font-color; // disabled-color
$clr-btn-success-disabled-bg-color: $clr-btn-disabled-bg-color; // disabled-background-color
$clr-btn-success-disabled-border-color: $clr-btn-disabled-border-color; // disabled-border-color

// Success outline button
$clr-btn-success-outline-color: hsl(92, 79%, 40%); // color
$clr-btn-success-outline-border-color: hsl(
  92,
  79%,
  40%
); // border-color, checked-background-color
$clr-btn-success-outline-hover-bg-color: hsla(
  0,
  0%,
  100%,
  0.1
); // hover-background-color
$clr-btn-success-outline-hover-color: hsl(83, 77%, 44%); // hover-color
$clr-btn-success-outline-box-shadow-color: hsl(
  0,
  0%,
  0%
); // active-box-shadow-color
$clr-btn-success-outline-checked-color: hsl(0, 0%, 100%); // checked-color
$clr-btn-success-outline-disabled-color: $clr-btn-outline-disabled-font-color; // disabled-color
$clr-btn-success-outline-disabled-bg-color: transparent; // disabled-background-color
$clr-btn-success-outline-disabled-border-color: $clr-btn-disabled-border-color; // disabled-border-color

// Danger button
$clr-btn-danger-color: hsl(0, 0%, 0%); // color, checked-color,
$clr-btn-danger-bg-color: hsl(3, 90%, 62%); // background-color, border-color
$clr-btn-danger-hover-bg-color: hsl(3, 100%, 69%); // hover-background-color
$clr-btn-danger-hover-color: $clr-btn-danger-color; // hover-color
$clr-btn-danger-box-shadow-color: hsl(10, 100%, 39%); // active-box-shadow-color
$clr-btn-danger-checked-bg-color: hsl(
  10,
  100%,
  39%
); // checked-background-color
$clr-btn-danger-disabled-color: $clr-btn-disabled-font-color; // disabled-color,
$clr-btn-danger-disabled-bg-color: $clr-btn-disabled-bg-color; // disabled-background-color
$clr-btn-danger-disabled-border-color: $clr-btn-disabled-border-color; // disabled-border-color

// Danger outline button
$clr-btn-danger-outline-border-color: hsl(3, 90%, 62%); // border-color
$clr-btn-danger-outline-color: hsl(3, 90%, 62%); // color
$clr-btn-danger-outline-hover-bg-color: hsla(
  0,
  0%,
  100%,
  0.1
); // hover-background-color
$clr-btn-danger-outline-hover-color: hsl(3, 100%, 69%); // hover-color
$clr-btn-danger-outline-box-shadow-color: hsl(
  0,
  0%,
  0%
); // active-box-shadow-color
$clr-btn-danger-outline-checked-bg-color: hsl(
  3,
  90%,
  62%
); // checked-background-color
$clr-btn-danger-outline-checked-color: hsl(0, 0%, 100%); // checked-color
$clr-btn-danger-outline-disabled-color: $clr-btn-outline-disabled-font-color; // disabled-color
$clr-btn-danger-outline-disabled-bg-color: transparent; // disabled-background-color
$clr-btn-danger-outline-disabled-border-color: $clr-btn-disabled-border-color; // disabled-border-color

// Link button
$clr-btn-link-color: #00ae6b; // color
$clr-btn-link-hover-color: #00ae6b; // hover-color
$clr-btn-link-checked-color: #00ae6b; // checked-color
$clr-btn-link-disabled-color: $clr-btn-outline-disabled-font-color; // disabled-color

// Inverse button
$clr-btn-inverse-border-color: hsl(210, 16%, 93%); // border-color
$clr-btn-inverse-bg-color: transparent; // background-color
$clr-btn-inverse-color: hsl(210, 16%, 93%); // color
$clr-btn-inverse-hover-bg-color: rgba(0, 0, 0, 0.1); // hover-background-color
$clr-btn-inverse-hover-color: hsl(0, 0%, 100%); // hover-color
$clr-btn-inverse-box-shadow-color: hsl(
  203,
  14%,
  70%
); // active-box-shadow-color
$clr-btn-inverse-checked-bg-color: hsla(
  0,
  0%,
  100%,
  0.15
); // checked-background-color
$clr-btn-inverse-checked-color: hsl(0, 0%, 100%); // checked-color
$clr-btn-inverse-disabled-color: $clr-btn-outline-disabled-font-color; // disabled-color
$clr-btn-inverse-disabled-border-color: $clr-btn-disabled-border-color; // disabled-border-color
$clr-card-box-shadow: 0px 2px 30px 0 #ffffffaa;

@import "../node_modules/@clr/ui/src/utils/components.clarity";

* {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0) !important;
  -webkit-focus-ring-color: rgba(255, 255, 255, 0) !important;
  outline: none !important;
}

.card {
  margin-top: 0px;
}

.card-list {
  box-shadow: 0px 2px 30px 0 #ffffff30;
}

.clr-form-control {
  margin-top: 0;
}

header {
  margin-left: 240px;
  border-bottom: solid 1px #151515;
  border-left: #1f202b;
  -webkit-user-select: none;
  -webkit-app-region: drag;
}

.frame-editor {
  width: 100%;
  overflow: scroll;
  padding: 20px;
  background-color: #0d0e15;
  border-left: #1f202b;
}

.new-note {
  position: relative;
  top: 13px;
  left: 85px;
  pointer-events: all;
  cursor: hand !important;
}

.search-bar {
  position: absolute;
  top: 64px;
  left: 11px;
  width: 220px;
}

.pinned {
  padding-top: 25px;
}

.clr-vertical-nav {
  display: flex;
  flex-direction: column;
  margin-top: -60px !important;
  padding: 0;
  width: 240px;
  min-width: 120px;
  background-color: none;
  will-change: width;
  transition: width 0.2s ease-in-out;
}

.clr-row {
  padding-left: 0px;
  padding-right: 0px;
}

body .p2,
body p.p2 {
  margin-top: 0;
}

h5 {
  margin-top: 0;
}

.datagrid .datagrid-column,
.datagrid .datagrid-cell {
  padding-left: 0px;
  font-family: "IBM Plex Mono", monospace;
}

.card-media-title {
  font-family: "IBM Plex Mono", monospace;
}

.datagrid-header {
  display: none;
}

.modal {
  background: none !important;
  padding: 0 !important;
  top: 0 !important;
  bottom: 0 !important;
  justify-content: unset !important;
}

.modal-backdrop {
  background-color: #0d0e1500;
}

clr-wizard .modal-dialog {
  height: 100% !important;
  max-height: 100% !important;
}

::-webkit-scrollbar {
  display: none;
}
