<div class="main-container">
  <header>
    <div class="branding">
      <a class="nav-link">
        <clr-icon shape="file" size="18"></clr-icon>

        <span class="title">{{ cur.title }}</span>
      </a>
    </div>

    <div class="header-actions">
      <a
        class="nav-link nav-icon"
        aria-describedby="Store any unsaved changes in file"
      >
        <clr-icon shape="upload-cloud" (click)="onPushBtnPressed()"></clr-icon>
      </a>
    </div>
  </header>
  <div class="content-container">
    <div markdown ngPreserveWhitespaces># Markdown</div>
    <ngx-monaco-editor
      hidden
      [options]="editorOptions"
      [(ngModel)]="code"
    ></ngx-monaco-editor>
    <clr-vertical-nav>
      <div class="btn-group new-note">
        <div class="radio btn" (click)="onPullBtnPressed()">
          <input type="radio" id="not-btn-view-list" />
          <clr-icon shape="download-cloud" size="16"> </clr-icon>
        </div>

        <div class="radio btn" (click)="onNewBtnPressed()">
          <input type="radio" id="not-btn-view-cards" />
          <clr-icon shape="note" size="16"> </clr-icon>
        </div>
      </div>

      <clr-tree class="pt-2">
        <clr-tree-node
          *ngFor="let entry of menuTree"
          [(clrExpanded)]="entry.expanded"
        >
          <clr-icon [attr.shape]="entry.icon"></clr-icon>
          {{ entry.name }}
          <clr-tree-node *ngFor="let subentry of entry.entries">
            <button
              (click)="noteLoad(subentry.id)"
              class="clr-treenode-link"
              [class.active]="subentry.active"
            >
              {{ subentry.name }}
            </button>
          </clr-tree-node>
        </clr-tree-node>
      </clr-tree>
    </clr-vertical-nav>
  </div>
</div>
